@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    margin: 0;
}

.btn-primary {
    color: #fff;
    background-color: #4A0C60;
    border-color: #380B48;
}

#logo {
    position: absolute;
    top: 10px;
    left: 20px;
    font-weight: 300;
    font-size: 24px;
}

#logo a {
    color: #444;
}

#logo a:hover {
    text-decoration: none;
}

.back-button {
    position: absolute;
    margin-left: -45px;
    background: #fff;
    padding-left: 10px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.back-button:hover {
    cursor: pointer;
}

.typed-cursor {
    display: none;
}

#content {
    margin-top: 40px;
}

#article-content {
    margin: 0 auto;
}

#article-text {
    padding: 40px;
}

#article-text ul {
    list-style: none;
    padding-left: 0;
}

#article-text ul li {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

#article-text-container {
    max-width: 40%
}

.home {
    margin-top: 60px;
    width: 100%;
    height: 100%;
}

.home .container {
    width: 100% !important;
    max-width: 100%;
    color: black;
}

.home__category {
    padding: 30px;
    text-align: center;
    font-size: 30px;
    min-height: 25vh;
    font-weight: bold;
    vertical-align: middle;
    /*margin-left: 10px;
    margin-top: 5;*/
    opacity: 0.8;
    border: 1px solid #fff;
    border-radius: 3px;
    /*line-height: 15vh;*/
}
.home__category a {
    color: #444;

}

.home__text {
    text-transform: uppercase;
}

.home__category a:hover {
    text-decoration: none;
}

.home__category a {
    opacity: 1;  !important;
}

.home__category:link {
    opacity: 1;
!important;
}

.home__category:hover {
    opacity: 1;
}
