<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bubblert News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>

<header>
    <div id="logo">bubblert</div>
</header>

{% block content %}
    <div class="content">
    </div>
{% endblock content %}

{% block jslibs %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% endblock jslibs %}

{% block additionaljs %}
{% endblock additionaljs %}

</body>
</html>
