<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bubblert News!</title>
</head>
<body>
<div id="content">
    <div id="article-bubbles"></div>
    <div id="article-zoom"></div>
    <div id="article-text"></div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script async>
  function switchToPage(page) {
    $("#article-bubbles").hide();
    $("#article-zoom").hide();
    $("#article-text").hide();
    $("#" + page).show();
  }

  $(document).ready(function() {
    switchToPage("article-bubbles");

    let socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
      socket.emit('start_news_stream');
    });

    socket.on('news_add', function (data) {
      let news = JSON.parse(data);
      $("#article-bubbles").append("" +
        "<p>Keyword: " + news.keyword + "</p>" +
        "<p>Headline: " + news.headline + "</p>" +
        "<br>");
    });
  });
</script>
</body>
</html>