{% include 'base.html' %}

{% block content %}
    <section class="home">
        <div class="container">
            <div class="row" id="categories">
            </div>
        </div>
    </section>
{% endblock content %}

{% block additionaljs %}
    <script src="libs/typed.min.js"></script>
    <script async>
        function createEntryId(item_id) {
            let id = item_id + '';
            return 'id' + id.hashCode();
        }

        function update_colors() {
            let colors = ['#335557', '#57A473', '#E7CB63', '#F6981A', '#E2693F']
            $('.home__category').each(function (i, obj) {
                $(obj).css("background", colors[i++ % colors.length]);
            });
        }

        let allNews = [];
        $(document).ready(function () {
            let socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function () {
                socket.emit('start_news_stream');
            });

            var keywordSet = new Set();

            socket.on('news_add', function (data) {
                if (data) {
                    data.forEach(function (item) {
                        if (item && item.type && item.type == 'group' && item.keywords != null) {
                            let found = false;
                            console.log(item);
                            item.keywords.forEach(function (key) {
                                if (!keywordSet.has(key) && !found && key != null) {
                                    keywordSet.add(key);

                                    let val = `<a href="/zoom/${item.item_id}">${key}</a>`;
                                    let div = `<div id="${createEntryId(item.item_id)}" class="col-sm-4 first home__category"> ${val} </div>`;
                                    $('#categories').prepend($(div));
{#                                    console.log(item);#}
                                }
                            });
                        }
                    });
                    update_colors();
                }
            });

            socket.on('news', function (item) {
                console.log(item);
                if (item) {
                    let val = `<a href="/zoom/${item.item_id}">${item.headline}</a>`;
                    let div = `<div id="${createEntryId(item.item_id)}" class="col-sm-4 first home__category"> ${val} </div>`;
                    $('#categories').prepend($(div));
                    update_colors();

                    {#                    #}

                    {#                    new Typed('#' + createEntryId(item.item_id), {#}
                    {#                        strings: [item.headline],#}
                    {#                        typeSpeed: 30,#}
                    {#                        onComplete: () => $('.first').html(createEntryLink(item))#}
                    {#                    });#}

                }
            });
        });


    </script>
{% endblock additionaljs %}
