{% include 'base.html' %}

<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 home__category">.col-sm-3</div>
            <div class="col-sm-4 home__category">.col-sm-6</div>
            <div class="col-sm-4 home__category">.col-sm-3</div>
            <div class="col-sm-4 home__category">.col-sm-3</div>
            <div class="col-sm-4 home__category">.col-sm-3</div>
            <div class="col-sm-4 home__category">.col-sm-3</div>
            <div class="col-sm-4 home__category">.col-sm-3</div>
            <div class="col-sm-4 home__category">.col-sm-3</div>
            <div class="col-sm-4 home__category">.col-sm-3</div>
            <div class="col-sm-4 home__category">.col-sm-3</div>
            <div class="col-sm-4 home__category">.col-sm-3</div>
            <div class="col-sm-4 home__category">.col-sm-3</div>
            <div class="col-sm-4 home__category">.col-sm-3</div>
        </div>
    </div>

</section>

{% block additionaljs %}
    <script async>
        let allNews = [];
        $(document).ready(function () {
            let socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function () {
                socket.emit('start_news_stream');
            });

            socket.on('news_add', function (data) {
                let current_news = JSON.parse(data);
                allNews.push(current_news);
            });
        });

        let colors = ['#2DEADC', '#7A00FF', '#FA5E98', '#00ACF5', '#F8E45B', '#007BFF']
        $('.home__category').each(function(i, obj) {
            $(obj).css("background", colors[i++ % colors.length]);
            console.log(i);
        });


    </script>
{% endblock additionaljs %}
