{% include 'base.html' %}

{% block content %}
    <section class="home">
        <div class="container">
            <div class="row" id="categories">
                {#                <div class="col-sm-4 first home__category">{{ story.headline }}</div>#}
            </div>
        </div>
    </section>
{% endblock content %}

{% block additionaljs %}
    <script async>
        function createEntryId(item_id) {
            let id = item_id + '';
            return 'id' + id.hashCode();
        }

        function update_colors() {
            let colors = ['#335557', '#57A473', '#E7CB63', '#F6981A', '#E2693F']
            $('.home__category').each(function (i, obj) {
                $(obj).css("background", colors[i++ % colors.length]);
            });
        }

        $(document).ready(function () {
            let socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function () {
            });

            let href = $(location).attr('href').split('/');
            let groupId = href[href.length - 1];
            if (groupId == 'zoom') {
                window.location.href = 'http://' + document.domain + ':' + location.port + '/'
            }
            let allKeywords = new Set();
            let articleSet = new Set();

            $.ajax({
                type: "GET",
                dataType: "json",
                url: "http://" + document.domain + ':' + location.port + '/group/' + groupId,
                success: function (data) {
                    if (data != null) {
                        data.forEach(function (item) {
                            if (!articleSet.has(item.headline)) {
                                console.log(item);
                                let val = `<a href="/detail/${item.item_id}">${item.headline}</a>`;
                                let div = `<div id="${createEntryId(item.item_id)}" class="col-sm-4 first home__category"> ${val} </div>`;
                                $('#categories').prepend($(div));
                                articleSet.add(item.headline)
                                if (data.keywords) {
                                    data.keywords.forEach(function (k) {
                                        allKeywords.add(k);
                                    })
                                }
                            }
                        });
                    }
                    update_colors();
                }
            });

            socket.on('news', function (item) {
                console.log(item);
                let hasMatchingKeyword = false;
                if (item) {
                    allKeywords.forEach(function (keyword) {
                        if (item.keywords.indexOf(keyword) > -1) {
                            hasMatchingKeyword = true;
                        }
                    });
                    if (hasMatchingKeyword || true) {
                        let val = `<a href="/detail/${item.item_id}">${item.headline}</a>`;
                        let div = `<div id="${createEntryId(item.item_id)}" class="col-sm-4 first home__category"> ${val} </div>`;
                        $('#categories').prepend($(div));
                        update_colors();
                    }
                }
            });
        });


    </script>
{% endblock additionaljs %}